<div class="row">
  <div class="col-lg-12">
    <%= simple_form_for(@entity,
                        :defaults => {
                                input_html: { class: 'form-control' },
                                label_html: { class: 'col-sm-offset-2 col-sm-2' }
                        },
                        :wrapper => :horizontal_form,
                        wrapper_mappings: {
                                check_boxes: :horizontal_radio_and_checkboxes,
                                radio_buttons: :horizontal_radio_and_checkboxes,
                                file: :horizontal_file_input,
                                boolean: :horizontal_boolean
                        },
                        :html => { :class => 'form-horizontal' }) do |f| %>
        <div class="page-header">
          <h3>New Entity<small></small>
        <span class="pull-right">
          <input type="submit" class="btn btn-primary" value="Save" />
          <%= link_to 'Cancel', entities_path(), class: 'btn btn-default' %>
        </span>
          </h3>
        </div>

        <%= render partial: 'form', locals: { form: f, model: @entity } %>
    <% end %>
  </div>
</div>
